/* CSS Variables */
:root {
  --primary-color: #1b4965;      /* azul escuro */
  --secondary-color: #62b6cb;    /* azul claro */
  --accent1-color: #4d6271;      /* azul bem claro */
  --accent2-color: #5fa8d3;      /* azul médio */
  --heading-font: "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

header {
  width: 840px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

main, footer {
  width: 840px;
  margin: 0 auto;
}


/* Títulos */
h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

/* Espaçamento padrão */
nav {
  margin: 16px;
  padding: 8px;
}

p, section, article {
  margin: 16px;
  padding: 8px;
}

/* Hero (imagem principal) */
.hero {
  position: relative;
}

.hero img {
  width: 100%;
  height: auto;
}

/* Título sobre imagem */
.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: white;
}

/* Artigo dentro do hero */
.hero article img {
  border:#1b4965 80px;
  float: right;
  width: 125px;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socialmedia ul {
  list-style: none;        /* remove bolinhas */
  display: flex;           /* 🔥 coloca em linha */
  gap: 10px;               /* espaço entre ícones */
}

.history-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20px;
}

.adventures {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.adventures h2 {
  grid-column: 1 / -1;
}

.adventures img {
  width: 100%;
  height: auto;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

