/* CSS Variables */
:root {
  --primary-color: #1b4965;      /* azul escuro */
  --secondary-color: #62b6cb;    /* azul claro */
  --accent1-color: #4d6271;      /* azul bem claro */
  --accent2-color: #5fa8d3;      /* azul médio */
  --heading-font: "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

/* Layout */
header, main, footer {
  width: 840px;
  margin: 0 auto;
}


/* Títulos */
h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

/* Espaçamento padrão */
nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

.socialmedia a {
  text-decoration: none;
}

/* Hero (imagem principal) */
.hero {
  position: relative;
}

.hero img {
  width: 100%;
  display: block;
  height: auto;
}

/* Título sobre imagem */
.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: white;
}

/* Artigo dentro do hero */
.hero article img {
  border:#1b4965 80px;
  float: right;
  width: 125px;
}

/* Footer */
footer {
  text-align: center;
}
